<style>
    #gallery{
        width: 110%;
    }
</style>
<div class="div-contenedor-galeria">
    <div>
        <h1>Portada</h1>
        {{#if fotosPortada}}
            {{{fotosPortada}}}
        {{/if}}
        {{#else}}
            El disco no posee portada
        {{/else}}
    
    </div>
    <div>
        <h1>Contraportada</h1>
        {{{fotosContraportada}}}

    </div>
    <div>
        <h1>Tracklist</h1>
        {{{audio}}}

    </div>
    <button onclick="window.location.href = '/remove?id={{carpeta}}|all|all'">Borrar todo</button>
</div>