<style>
    #login{
        width: 110%;
    }
</style>
<h1>Bienvenido a Groove And Play</h1>
<h3>Donde te das a conocer al mundo ;)</h3>

<form id="formLogin" action="/login" method="post">
    <input type="text" name="user" class="text-input user" id="user-id" placeholder="Usuario">
    <input type="password" name="password" class="text-input password" id="password" placeholder="Clave">
    <input type="submit" name="Login" id="do-login" class="button"></input>
</form>

