<style>
    #upload{
        width: 110%;
    }
</style>
Hubo ciertos errores durante la subida:
<br>
<div>{{#each listaArchivos}}
        <div class="resultadoArchivo">{{this.archivo}} - {{this.textoResultado}}</div>
{{/each}}</div>
<script>
    //seteo un TimeOut de 2 segundos para que luego de visualizar los errores, 
    //redireccione al usuario a la pantalla de subida de archivos, en la sección donde se encontraron los errores
    setTimeout(function(){
        window.location.href = '/subirarchivos?id={{redireccion}}|{{disco}}';
    },5000)
</script>